MyUnitTest/Code/HK.UnitTestDemo/HK.SelfMock.Service/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MyUnitTest/Code/HK.UnitTestDemo/HK.SelfMock.Service/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
MyUnitTest/Code/HK.UnitTestDemo/HK.SelfMock.Service/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
MyUnitTest/Code/HK.UnitTestDemo/HK.SelfMock.Service/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
MyUnitTest/Code/HK.UnitTestDemo/HK.SelfMock.UnitTests/obj/
MyUnitTest/Code/HK.UnitTestDemo/HK.SelfStub.Service/obj/
MyUnitTest/Code/HK.UnitTestDemo/HK.SelfStub.UnitTests/obj/
MyUnitTest/Code/HK.UnitTestDemo/HK.AutoFake.Business/obj/
MyUnitTest/Code/HK.UnitTestDemo/HK.AutoFake.ExternalService/obj/
MyUnitTest/Code/HK.UnitTestDemo/HK.AutoFake.FakesUnitTests/FakesAssemblies/
MyUnitTest/Code/HK.UnitTestDemo/HK.AutoFake.FakesUnitTests/obj/
MyUnitTest/Code/HK.UnitTestDemo/HK.AutoFake.MoqUnitTests/obj/
MyUnitTest/Code/HK.UnitTestDemo/HK.Basic.MsTest.UnitTests/obj/
MyUnitTest/Code/HK.UnitTestDemo/HK.Basic.Services/obj/
MyUnitTest/Code/HK.UnitTestDemo/HK.Basic.XUnit.UnitTests/obj/
MyUnitTest/Code/HK.UnitTestDemo/HK.SelfMock.ExternalService/obj/
MyUnitTest/Code/HK.UnitTestDemo/HK.SelfStub.ExternalService/obj/
MyUnitTest/Code/HK.UnitTestDemo/HK.AutoFake.FakesUnitTests/bin/
MyUnitTest/Code/HK.UnitTestDemo/HK.AutoFake.MoqUnitTests/bin/
MyUnitTest/Code/HK.UnitTestDemo/HK.AutoFake.Business/bin/
MyUnitTest/Code/HK.UnitTestDemo/HK.AutoFake.ExternalService/bin/
MyUnitTest/Code/HK.UnitTestDemo/HK.Basic.MsTest.UnitTests/bin/
MyUnitTest/Code/HK.UnitTestDemo/HK.Basic.Services/bin/
MyUnitTest/Code/HK.UnitTestDemo/HK.Basic.XUnit.UnitTests/bin/
MyUnitTest/Code/HK.UnitTestDemo/HK.SelfMock.ExternalService/bin/
MyUnitTest/Code/HK.UnitTestDemo/HK.SelfMock.Service/bin/
MyUnitTest/Code/HK.UnitTestDemo/HK.SelfMock.Service/obj/
MyUnitTest/Code/HK.UnitTestDemo/HK.SelfMock.UnitTests/bin/
MyUnitTest/Code/HK.UnitTestDemo/HK.SelfStub.Service/bin/
MyUnitTest/Code/HK.UnitTestDemo/HK.SelfStub.UnitTests/bin/
MyUnitTest/Code/HK.UnitTestDemo/HK.UnitTestDemo.v12.suo
MyUnitTest/Code/HK.UnitTestDemo/HK.SelfStub.ExternalService/bin/
*.user
*.coverage
